@page "/AuditViewerSample"
@using Pixata.Blazor.Auditing.Components

<h3>Audit Viewer</h3>

<p>This page demonstrates the <code>AuditViewer</code> component, which provides a UI for browsing the audit history of your entities.</p>

<p>See the <a href="https://github.com/MrYossu/Pixata.Utilities/blob/master/Pixata.Blazor/AuditViewer.md">readme file</a> for instructions on configuring and using the viewer</p>

<AuditViewer />