@page "/"

<h1>Pixata.Blazor test project</h1>

<img src="https://github.com/MrYossu/Pixata.Utilities/raw/master/Borsalino.png" alt="Hat"/>

<p>This web site demonstrates usage of the components in the <a href="https://www.nuget.org/packages/Pixata.Blazor">Pixata.Blazor Nuget package</a>.</p>

<p>At the moment, it's far from being complete, and is somewhat disorganised. Hopefully this will improve with time.</p>

<p>Details of the components and their usage can be found on the <a href="https://github.com/MrYossu/Pixata.Utilities">GitHub project page</a>.</p>