@page "/LoaderSample"

<h3>Loader</h3>

<p>Sometimes you need to show a busy indicator while data is loading. The <code>Loader</code> component allows you to do that.</p>

<p>By default, it looks like this...</p>

<Loader />

<p>...but if that looks too nice for you, it can easily be configured to look really ugly...</p>

<Loader IconSize="50px" PrimaryColour="green" SecondaryColour="red" Text="An ugly busy icon!" TextColor="blue" TextFontSize="10px" BorderWidth="4px" />

<p>If your CSS file includes variables named <code>--loader-primary-colour</code> and <code>--loader-secondary-colour</code>, then these will be used. If not, then fallback values will be used, see <a href="https://github.com/MrYossu/Pixata.Utilities/blob/master/Pixata.Blazor/Containers/Loader.razor">the source code</a> for the exact values.</p>