@page "/LoaderSample"
@using Pixata.Blazor.Sample.Models

<h3>Loading option</h3>

<p>This sample shows how you can display a loading message while waiting for an entity to be loaded into a Blazor component. Unlike the <a href="/LoadingOptionSample"><code>LoadingOption</code></a> component, it doesn't require a nullable data type. Instead, it uses a generated type called <code>LoaderContainer&lt;T&gt;</code>.</p>

<p>
  <button class="btn btn-primary" @onclick="LoadCustomerFound">Existing customer</button>
  <button class="btn btn-secondary" @onclick="LoadCustomerNotFound">No such customer</button>
</p>

<Loader Data="_customer" Context="customer">
  <Loading>
    <p><span class="spinner-border spinner-border-sm" aria-hidden="true"></span> Please wait while we look for the customer...</p>
  </Loading>
  <Loaded>
    <p>Found @customer.Value.Name (id: @customer.Value.Id), who is @customer.Value.Age years old</p>
  </Loaded>
  <NotLoaded>
    <p>Big flop, we can't find him</p>
  </NotLoaded>
</Loader>

@code {

  private LoaderContainer<Customer> _customer = new Loading<Customer>();

  private async Task LoadCustomerFound() {
    _customer = new Loading<Customer>();
    await Task.Delay(2000);
    _customer = new Loaded<Customer>(new Customer(1, "Jim Spriggs", 42));
  }

  private async Task LoadCustomerNotFound() {
    _customer = new Loading<Customer>();
    await Task.Delay(2000);
    _customer = new NotLoaded<Customer>();
  }

}