@page "/LoaderSample"

<h3>Loaders</h3>

<p>We offer two loaders, <code>Loader</code> and <code>Loader2</code>.</p>

<h4>Loader</h4>

<p>Sometimes you need to show a busy indicator while data is loading. The <code>Loader</code> component allows you to do that.</p>

<p>By default, it looks like this...</p>

<Loader />

<blockquote>
  For some reason, when you have two loaders on the same page, one with custom properties set and one without, the one without some of the settings from the other. Not sure why, but as this is an unusual scenario, I haven't put too much time into investigating it.
</blockquote>

<p>If your CSS file includes a variable named <code>--loader-colour</code>, then this will be used. If not, then a fallback value will be used, see <a href="https://github.com/MrYossu/Pixata.Utilities/blob/master/Pixata.Blazor/Containers/Loader.razor">the source code</a> for the exact values.</p>

<h4>Loader2</h4>

<p>This imaginatively named component shows a different loading animation. Take your pick...</p>

<Loader2 />

<p>Again, this one can be configured, see <a href="https://github.com/MrYossu/Pixata.Utilities/blob/master/Pixata.Blazor/Containers/Loader2.razor">the source code</a> for the exact values.</p>