<div class="top-row pl-4 navbar navbar-dark">
  <a class="navbar-brand" href="">Pixata.Blazor.Sample</a>
  <button class="navbar-toggler" @onclick="ToggleNavMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
  <ul class="nav flex-column">
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span> Home
      </NavLink>
    </li>
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="FormSample" Match="NavLinkMatch.All">
        <span class="oi oi-data-transfer-download" aria-hidden="true"></span> Forms
      </NavLink>
    </li>
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="OptionSample">
        <span class="fal fa-question" aria-hidden="true"></span> OptionBlazor
      </NavLink>
    </li>
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="BusyOptionSample">
        <span class="far fa-clock" aria-hidden="true"></span> BusyOption
      </NavLink>
    </li>
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="LoadingOptionSample">
        <span class="far fa-clock" aria-hidden="true"></span> Loader
      </NavLink>
    </li>
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="ConfirmSample">
        <span class="fal fa-check-circle" aria-hidden="true"></span> Confirm
      </NavLink>
    </li>
    <li class="nav-item px-3">
      <NavLink class="nav-link" href="ExpanderSample">
        <span class="fal fa-expand-arrows-alt" aria-hidden="true"></span> Expander
      </NavLink>
    </li>
  </ul>
</div>

@code {
  private bool collapseNavMenu = true;

  private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

  private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;
}