<div style="position: relative">
  <div id="informOverlay" style="display: @_displayStyle; position: @_position">
    <div id="informOverlayContent">
      <div><HtmlRaw Html="@Caption" /></div>
      <button type="button" class="btn btn-primary" @onclick="@(ButtonClicked)">@OkText</button>
    </div>
  </div>

  @ChildContent
</div>

<style>
  #informOverlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: @ZIndex;
  }

  #informOverlay #informOverlayContent {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 18px;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    background: #fff;
    color: #000;
    text-align: center;
    box-shadow: 10px 10px 5px #333;
    border-radius: 10px;
  }
</style>

@code {

  [Parameter]
  public PopUpDisplayOptions PopUpDisplayOption { get; set; } = PopUpDisplayOptions.Container;

  [Parameter]
  public string Caption { get; set; }

  [Parameter]
  public string OkText { get; set; } = "OK";

  [Parameter]
  public int ZIndex { get; set; } = 2147483647;

  [Parameter]
  public RenderFragment ChildContent { get; set; }

  private string _displayStyle = "none";
  private string _position;

  protected override void OnParametersSet() =>
    _position = PopUpDisplayOption == PopUpDisplayOptions.Container ? "absolute" : "fixed";

  public void Display(string caption = "") {
    _position = PopUpDisplayOption == PopUpDisplayOptions.Container ? "absolute" : "fixed";
    if (!string.IsNullOrWhiteSpace(caption)) {
      Caption = caption;
    }
    _displayStyle = "block";
    StateHasChanged();
  }

  private void ButtonClicked() =>
    _displayStyle = "none";

}